<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    @Styles.Render("~/bundles/global/css")
    @Scripts.Render("~/bundles/global/js")
</head>
<body>
    <div>
        @RenderBody()
    </div>

    <!-- User Profile thing - put in partial -->
    <div>
        @if (User.Identity.IsAuthenticated)
        {
            <a href="@Url.RouteUrl(Routes.Home)">@UIResources.Site_Home</a>
            <a href="@Url.RouteUrl(Routes.Logout)">@UIResources.Profile_Logout</a>
            <a href="@Url.RouteUrl(Routes.SelectGroup)">@UIResources.Profile_SelectGroup</a>
        }
    </div>
</body>
</html>