@model moonstone.ui.web.Models.ViewModels.Group.CreateGroupViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@Html.ValidationSummary()

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.LabelFor(m => m.Name)
    @Html.TextBoxFor(m => m.Name)
    @Html.ValidationMessageFor(m => m.Name)

    @Html.LabelFor(m => m.Description)
    @Html.TextAreaFor(m => m.Description)
    @Html.ValidationMessageFor(m => m.Description)

    <input type="submit" value="@UIResources.Group_Create_Button_Create" />
}