@model moonstone.ui.web.Models.ViewModels.Group.CreateGroupViewModel

<div class="ui modal ms-create-group-modal">
    <div class="header">Something here</div>
    <div class="content">
        @using (Html.BeginForm(Routes.CreateGroup.Action, Routes.CreateGroup.Controller, FormMethod.Post, new { @class = "ui form ms-create-group-form" }))
            {
            @Html.AntiForgeryToken()

            <div class="required field">
                @Html.LabelFor(m => m.Name)
                @Html.TextBoxFor(m => m.Name)
                @Html.ValidationMessageFor(m => m.Name)
            </div>

            <div class="required field">
                @Html.LabelFor(m => m.Description)
                @Html.TextAreaFor(m => m.Description, new { rows = 3 })
                @Html.ValidationMessageFor(m => m.Description)
            </div>

            <button class="ui positive fluid submit button">create itttt</button>
        }
    </div>
</div>

@Scripts.Render("~/bundles/jqueryval")

<script type="text/javascript">
    $(document).ready(function () {
        // attaches the dialog to all elements with class ms-create-group-button
        var apiAction = 'api-create-group';
        var formSelector = '.ms-create-group-form';
        var modalSelector = '.ms-create-group-modal';
        var buttonSelector = '.ms-create-group-button';

        // bind the form so it supports ajax
        bindFormSubmit(formSelector, apiAction,
            function (response) {
                // this is the onSuccess callback
                $(modalSelector).modal('hide');
                $(formSelector).trigger('reset');

                // call the default success method so we get nice messages and stuff
                handleApiSuccess(response);
            });

        // modal initialization and settings
        initModal(modalSelector, buttonSelector);
    });
</script>