@model moonstone.ui.web.Models.ViewModels.Category.CreateCategoryViewModel

<div class="ui modal ms-create-category-modal">
    <div class="header">Something here</div>
    <div class="content">
        @using (Html.BeginForm(Routes.CreateCategory.Action, Routes.CreateCategory.Controller, FormMethod.Post, new { @class = "ui form ms-create-category-form" }))
            {
            @Html.AntiForgeryToken()

            <div class="required field">
                @Html.LabelFor(m => m.Name)
                @Html.TextBoxFor(m => m.Name)
                @Html.ValidationMessageFor(m => m.Name)
            </div>

            <button class="ui positive fluid submit button">create the thing</button>
        }
    </div>
</div>

@Scripts.Render("~/bundles/jqueryval")

<script type="text/javascript">
    $(document).ready(function () {
        // attaches the dialog to all elements with class ms-create-category-button
        var apiAction = 'api-create-category';
        var formSelector = '.ms-create-category-form';
        var modalSelector = '.ms-create-category-modal';
        var buttonSelector = '.ms-create-category-button';

        // bind the form so it supports ajax
        bindFormSubmit(formSelector, apiAction,
            function (response) {
                // this is the onSuccess callback
                $(modalSelector).modal('hide');
                $(formSelector).trigger('reset');

                // call the default success method so we get nice messages and stuff
                handleApiSuccess(response);
            });

        // modal initialization and settings
        initModal(modalSelector, buttonSelector);
    });
</script>